<mat-form-field class="inputField" appearance="outline">
    <mat-label>Username</mat-label>
    <input matInput #username placeholder="username" value="">
  </mat-form-field>

  <Br>

  <br>

  <p style="margin-left: 20px;">please select the images in squence:</p>  

  <img src="{{cat}}" style="height: 200px; width: 200px;" (click)="clickThis(1)">
  <img src="{{flower}}" style="height: 200px; width: 200px;" (click)="clickThis(2)">
  <img src="{{mouse}}" style="height: 200px; width: 200px;" (click)="clickThis(3)">
  <img src="{{dog}}" style="height: 200px; width: 200px;" (click)="clickThis(4)">

  <p style="margin-left: 40px;">selected images : {{selectedImages}}</p>

  <a style="margin-left: 35px; color: red">{{error}}</a>

  <br>

  <button class="login" mat-raised-button color="primary" (click)="clear()">clear</button><br>
  <button class="login" mat-raised-button color="warn" (click)="login(username.value)">Login</button>